{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}") // 리스트의 맨마지막 요소
        </script>
    {% endif %}
{% endwith%}

<link rel="stylesheet" href="../static/common.css">
<h3>회원 가입</h3>
<form action="/join" method="post" name="form">
    <ul>
        <li>이름</li>
        <li><input type="text" name="name"></li>
        <li>이메일</li>
        <li><input type="text" name="email"></li>
        <li>비밀번호</li>
        <li><input type="password" name="pw1"></li>
        <li>비밀번호 확인</li>
        <li><input type="password" name="pw2"></li><br>

        <li><input type="submit" value="가입하기"></li>
    </ul>
</form>