<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1 class="board-title">글쓰기</h1>
    <form action="/modify/{{doc._id}}" method="POST" name="form">
        <ul>
            <li>작성자</li>
            <li><input type="text" name="name" size="28" value="{{session['name']}}" readonly></li>
            <li>제목</li>
            <li><input type="text" name="title" size="28" value="{{doc.title}}"></li>
            <li>내용</li>
            <li><textarea name="contents" cols="30" rows="10">{{doc.contents}}</textarea></li>
            <li><input type="submit" value="등록"></li>
        </ul>
    </form>
</body>
</html>